<%- include('../includes/header.ejs') %>

    <main class="content">
        <h1 class="page-title">فروشگاه</h1>
        <h2>لیست محصولات</h2>

        <% if (productsArray.length >0) { %>
            <% for (let product of productsArray) { %>
                <div class="product-info">
                    <figure class="product-image">
                        <img src="./images/product-image.png" alt="">
                    </figure>
                    <h2>
                        <%= product.title %>
                    </h2>
                    <p class="product-description">
                        <%= product.description %>
                    </p>
                    <p class="product-price">
                        <%= product.price %> تومان
                    </p>
                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>

                        <a href="/products/<%= product.id %> ">جزییات محصول</a>
                </div>
                <% } %>
                    <% } else { %>
                        <p>محصول وجود ندارد.</p>
                        <% } %>
    </main>

    <%- include('../includes/footer.ejs') %>